<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-Rack 8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0">
    <title>IT Store Asset Inventory Management</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&family=Mulish&family=Poppins&family=Russo+One&display=swap" rel="stylesheet">
   


    <link rel ="icon" href="https://assets.tridentindia.com/favicon_32x32_1b05f460d9.png">
    <link rel="stylesheet" href="/css/darkmode.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/qr.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
{{>onload}}

<!-- Menu Button for Aside Bar -->

{{>headerNavbar}}


<div class="qr">
    <div class="qr-generator">
        <a href="/qr/qr-generator"><img src="/img/qr.jpg" alt=""></a>
        <p>QR Creator</p>
    </div>
    <div class="qr-reader">
        <a href="/qr/qr-reader"><img src="/img/scan.jpg" alt=""></a>
        <p>QR Reader</p>
    </div>
</div>


<script src="/js/qr.js"></script>
<script src="/js/darkmode.js"></script>
<script src="/js/aside.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
